* {
  box-sizing: border-box; }

.menu {
  background-color: black;
  color: white; }

ul {
  list-style: none;
  padding: 0;
  text-align: center; }

li {
  text-align: center;
  font-size: 3em; }

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 1.6%; }
  .main .menu {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1.6%;
    grid-column: 1 / 13; }
    .main .menu ul {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%;
      grid-column: 1 / 13; }
      .main .menu ul li {
        grid-column: span 3; }
  .main > div:nth-child(2) {
    grid-column: 1 / 13; }
    .main > div:nth-child(2) > div:first-child {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:first-child > div:first-child {
        grid-column: 1 / 9; }
      .main > div:nth-child(2) > div:first-child > div:nth-child(2) {
        grid-column: 9 / 13; }
    .main > div:nth-child(2) > div:nth-child(2) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(2) > div:first-child {
        grid-column: 1 / 7; }
      .main > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
        grid-column: 7 / 13; }
    .main > div:nth-child(2) > div:nth-child(3) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(3) > div:first-child {
        grid-column: 1 / 13; }
      .main > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
        grid-column: 1 / 7; }
    .main > div:nth-child(2) > div:nth-child(4) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(4) > div:first-child {
        grid-column: 1 / 13; }
      .main > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) {
        grid-column: 1 / 7; }
      .main > div:nth-child(2) > div:nth-child(4) > div:nth-child(3) {
        grid-column: 7 / 13; }
    .main > div:nth-child(2) > div:nth-child(5) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(odd) {
        grid-column: 1 / 7; }
      .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(even) {
        grid-column: 7 / 13; }

@media screen and (min-width: 1200px) {
  .main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0 1.6%; }
    .main .menu {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 0 1.6%;
      grid-column: 1 / 3; }
      .main .menu ul {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
        .main .menu ul li {
          /*grid-column: 1 / 13;*/
          grid-column: span 8; }
    .main > div:nth-child(2) {
      grid-column: 3 / 13; }
      .main > div:nth-child(2) > div:first-child {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
      .main > div:nth-child(2) > div:nth-child(3) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
        .main > div:nth-child(2) > div:nth-child(3) > div:first-child {
          grid-column: 1 / 11; }
        .main > div:nth-child(2) > div:nth-child(3) > div:nth-child(2) {
          grid-column: 11 / 13; }
      .main > div:nth-child(2) > div:nth-child(4) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
        .main > div:nth-child(2) > div:nth-child(4) > div:first-child {
          grid-column: 1 / 5; }
        .main > div:nth-child(2) > div:nth-child(4) > div:nth-child(2) {
          grid-column: 5 / 9; }
        .main > div:nth-child(2) > div:nth-child(4) > div:nth-child(3) {
          grid-column: 9 / 13; }
      .main > div:nth-child(2) > div:nth-child(5) {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 1.6%; }
        .main > div:nth-child(2) > div:nth-child(5) > div:first-child {
          grid-column: 1 / 3; }
        .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(2) {
          grid-column: 3 / 5; }
        .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(3) {
          grid-column: 5 / 7; }
        .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(4) {
          grid-column: 7 / 9; }
        .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(5) {
          grid-column: 9 / 11; }
        .main > div:nth-child(2) > div:nth-child(5) > div:nth-child(6) {
          grid-column: 11 / 13; } }

/*# sourceMappingURL=sass-css-grid.css.map */
