.container_mouad{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
  grid-gap: 0.9rem;
  align-items: center;
}

header{
  grid-column: span 7;
  background-color: dodgerblue;
}

section{
  grid-column: span 7;
  text-align: center;
  height: 500px;
}

footer{
  grid-column: span 7;
  background-color: dodgerblue;
  width: 100%;
  margin-top: 50px;
}

.rendersearchResults{
  height: 500px;
}

.renderviewSearch{
  margin-top: 90px;
}
